# In Class Exercise 7.4
Use the tools we have discussed we can start looking at associations by groups in the dataset `'recent-grads.csv'`, which contains data about employment and salaries for recent college graduates. The data comes from [here](https://github.com/fivethirtyeight/data/tree/master/college-majors) and was used for the story [The Economic Guide to Picking Your Major](https://fivethirtyeight.com/features/the-economic-guide-to-picking-a-college-major/), published by [fivethirtyeight](https://fivethirtyeight.com/).

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# For slightly nicer charts
plt.rcParams['figure.figsize'] = [10, 6]
plt.rcParams['figure.dpi'] = 150
sns.set(style="ticks")

In [22]:
df_grad_full = pd.read_csv("recent-grads.csv") # here we read the full dataset
df_grad = df_grad_full[['Major_category', 'Major', 'ShareWomen', 'Unemployment_rate','Median']] # here we use label based indexing to create a dataset that only contains a few columns of interest
df_grad.head()

,Major_category,Major,ShareWomen,Unemployment_rate,Median
0,Engineering,PETROLEUM ENGINEERING,0.120564,0.018381,110000
1,Engineering,MINING AND MINERAL ENGINEERING,0.101852,0.117241,75000
2,Engineering,METALLURGICAL ENGINEERING,0.153037,0.024096,73000
3,Engineering,NAVAL ARCHITECTURE AND MARINE ENGINEERING,0.107313,0.050125,70000
4,Engineering,CHEMICAL ENGINEERING,0.341631,0.061098,65000

The remaining categories represent the following: 
* ShareWomen: Percentage of graduates classified as women
* Unemployment_rate: Rate of unemployment
* Median: Median earnings of full-time, year-round workers